.profile__add-button {
  background: none;
  background-image: url(../../../images/icons/add_button.svg);
  border: 2px #fff solid;
  width: 150px;
  height: 50px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: opacity 0.5s;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .profile__add-button {
    width: 282px;
    background-image: url(../../../images/icons/add_button_phone.svg);
  }
}