.popup__save-button {
  box-sizing: border-box;
  background-color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  padding: 14px 132px 14px 132px;
  margin: 18px 36px 37px 36px;
  transition: opacity 0.5s;
  border: none;
  border-radius: 2px;
}
.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 540px) {
  .popup__save-button {
    padding: 14px 82px 14px 82px;
    margin: 15px 22px 25px 22px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 320px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
  }
}
