.popup__item {
  max-width: 358px;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  margin: 0 0 30px 36px;
  cursor: text;
  padding-bottom: 15px;
  height: 15px;
}

@media screen and (max-width: 540px) {
  .popup__item {
    margin: 0px 0px 30px 22px;
    max-width: 238px;
  }
}